.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Full height of the viewport */
    text-align: center; /* Center text */
  }
  
  .input-container {
    margin: 10px 0; /* Space between input elements */
  }
  
  .error-message {
    color: red;
  }
  
  .success-message {
    color: green;
  }
  